<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="67d85fcc-db59-4b63-bd2f-3ebeb015b33e" name="TestSuite 1 - NEW" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="67d85fcc-db59-4b63-bd2f-3ebeb015b33efileName">TestSuite-1---NEW</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
